<div class="bgtop">
    <button class="homebtn" , type="button"><a href="/">Mōrena</a></button>

    <button class="addbtn" type="button">Add a new quote</button>

    <div class="maoritext">
        <p class="maoriquote" id="text">
            {{maoriQuote}}
            <br>
            <br>
            <cite> {{author}} </cite>
        </p>
        <a href="/quote/{{prevId}}" class="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <a href="/quote/{{nextId}}" class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
</div>
<div class="bgbottomquote">
    <div class="englishtext">
        <p class="englishquote">
            {{engQuote}}
            <br>
            <br>
            <cite> {{author}} </cite>
        </p>
    </div>
</div>